# Python Built-In Data Structures

## Lists

In [1]:
TA = ["Sandra"]

In [2]:
type(TA)

list

In [3]:
TA

['Sandra']

#### Indexing, slicing, appending

In [4]:
TA[0]

'Sandra'

In [5]:
LT = "Aleks"

In [6]:
type(LT)

str

In [7]:
teachers = [LT] + TA

In [8]:
teachers

['Aleks', 'Sandra']

In [9]:
print(teachers)

['Aleks', 'Sandra']

In [10]:
len(teachers)

2

In [11]:
stdts = ['Anaswara Vijayan',
 'Bruna Santos',
 'Bryan Dunleavy',
 'Feras Rafeh',
 'Geneva Uy',
 'Iranel Gonz√°lez',
 'Ivanna Pivtorak',
 'Jan Hildebrand',
 'Kaan Dural',
 'Tahora Husaini',
 'Tomas Renaudo',
 'Valentina Delgado']

#### Creating a random sample of students

In [13]:
import random

In [14]:
sample_of_students = random.sample(stdts,5)

In [18]:
random.choice(stdts)

'Bruna Santos'

#### Appending them to "teachers"

In [44]:
teachers.append(sample_of_students)
teachers

['Aleks',
 'Sandra',
 ['Anaswara Vijayan',
  'Kaan Dural',
  'Valentina Delgado',
  'Feras Rafeh',
  'Tomas Renaudo'],
 'Anaswara Vijayan',
 'Kaan Dural',
 'Valentina Delgado',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Valentina Delgado',
 'Geneva Uy',
 'Bruna Santos',
 'Tomas Renaudo',
 'Anaswara Vijayan',
 ['Valentina Delgado',
  'Geneva Uy',
  'Bruna Santos',
  'Tomas Renaudo',
  'Anaswara Vijayan']]

In [45]:
type(teachers)

list

In [16]:
teachers.extend(sample_of_students)
teachers

['Aleks',
 'Sandra',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Jan Hildebrand',
 'Tahora Husaini',
 'Anaswara Vijayan']

#### Iterating through lists

In [17]:
for teacher in teachers:
    print(teacher+ " is a teacher!")

Aleks is a teacher!
Sandra is a teacher!
Feras Rafeh is a teacher!
Tomas Renaudo is a teacher!
Jan Hildebrand is a teacher!
Tahora Husaini is a teacher!
Anaswara Vijayan is a teacher!

In [18]:
teachers

['Aleks',
 'Sandra',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Jan Hildebrand',
 'Tahora Husaini',
 'Anaswara Vijayan']

In [19]:
students = ['Anaswara Vijayan',
 'Azad Kader',
 'Babitha Prasun',
 'Bruna Santos',
 'Bryan Dunleavy',
 'Elisa Cerd√° Do√±ate',
 'Feras Rafeh',
 'Geneva Uy',
 'Iranel Gonz√°lez',
 'Ivanna Pivtorak',
 'Jan Hildebrand',
 'Kaan Dural',
 'Simran Agarwal',
 'Tahora Husaini',
 'Tomas Renaudo',
 'Valentina Delgado']

#### Print students with names ending with o

In [20]:
for student in students:
    if ( student[-1]=='o'):
        print(student)

Tomas Renaudo
Valentina Delgado

#### Create two lists: "student_names" and "student_surnames"

In [21]:
student_names = []
student_surnames = []

In [22]:
for student in students:
    student_split = student.split()
    ## populating the first names 
    student_names.append(student_split[0])
    ## populating the seond list which contains the last names 
    student_surnames.append(student_split[-1])

In [23]:
student_names

['Anaswara',
 'Azad',
 'Babitha',
 'Bruna',
 'Bryan',
 'Elisa',
 'Feras',
 'Geneva',
 'Iranel',
 'Ivanna',
 'Jan',
 'Kaan',
 'Simran',
 'Tahora',
 'Tomas',
 'Valentina']

In [24]:
student_surnames

['Vijayan',
 'Kader',
 'Prasun',
 'Santos',
 'Dunleavy',
 'Do√±ate',
 'Rafeh',
 'Uy',
 'Gonz√°lez',
 'Pivtorak',
 'Hildebrand',
 'Dural',
 'Agarwal',
 'Husaini',
 'Renaudo',
 'Delgado']

#### Print the surname for a random name

In [25]:
#choose a random name

random_name = random.choice(student_names)

In [26]:
random_name

'Iranel'

In [27]:
index_student = student_names.index(random_name)

In [28]:
index_student

8

In [62]:
student_surnames[0:]

['Vijayan',
 'Kader',
 'Prasun',
 'Santos',
 'Dunleavy',
 'Do√±ate',
 'Rafeh',
 'Uy',
 'Gonz√°lez',
 'Pivtorak',
 'Hildebrand',
 'Dural',
 'Agarwal',
 'Husaini',
 'Renaudo',
 'Delgado']

In [64]:
student_surnames[0:2]

['Vijayan', 'Kader']

In [66]:
student_surnames[1]

'Kader'

## Dictionaries

In [30]:
ages = {
        "Aleks":28,
        "Sandra":30
       }

In [31]:
ages

{'Aleks': 28, 'Sandra': 30}

#### Accessing keys & values

In [32]:
list(ages.keys())

['Aleks', 'Sandra']

In [33]:
list(ages.values())

[28, 30]

In [34]:
ages["Aleks"]

28

In [35]:
len(ages)

2

#### Iterate through dictionary

In [36]:
for i in ages:
    print(i)

Aleks
Sandra

In [37]:
ages

{'Aleks': 28, 'Sandra': 30}

In [38]:
for teacher in ages.keys():
    print(teacher + " is " + str(ages[teacher]) + " years old.")

Aleks is 28 years old.
Sandra is 30 years old.

In [39]:
a = 5
b = 3
c = str(a) + str(b)
print(c)

53

<b> iterating using items()

In [ ]:
ages.items()

In [40]:
for i,j in ages.items():
    print (i + " is "+ str(j) +" years old ")

Aleks is 28 years old
Sandra is 30 years old

#### Nested dictionaries

Create a dictionary of teachers. For each teacher, it stores their age, role and the city where they live.

In [42]:
teachers_dict = {
    
    "Aleks":{
        "age":18,
        "role":"LT",
        "city_residence":"Berlin"
    },
    "Sandra":{
        "age": 19,
        "role":"TA",
        "city_residence":"Mexico City"
    }
}

#### Challenge: print Sandra's role

In [47]:
#here

teachers_dict["Sandra"]["role"],teachers_dict["Sandra"]["city_residence"]

('TA', 'Mexico City')

#### Print only t name of teachers who live in Berlin

In [48]:
for teacher in teachers_dict.keys():
    teacher_Info=teachers_dict[teacher]
    if teacher_Info["city_residence"] == "Berlin":
        print(teacher + " lives in Berlin")

Aleks lives in Berlin

## Tuples

In [49]:
teachers

['Aleks',
 'Sandra',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Jan Hildebrand',
 'Tahora Husaini',
 'Anaswara Vijayan']

In [50]:
teachers_tuple = tuple(teachers)

In [51]:
teachers_tuple

('Aleks',
 'Sandra',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Jan Hildebrand',
 'Tahora Husaini',
 'Anaswara Vijayan')

In [52]:
teachers_tuple[1] = "John"

TypeError: 'tuple' object does not support item assignment

In [53]:
teachers

['Aleks',
 'Sandra',
 'Feras Rafeh',
 'Tomas Renaudo',
 'Jan Hildebrand',
 'Tahora Husaini',
 'Anaswara Vijayan']

## Set

#### Take a random sample (with replacement) of 100 numbers from 1 to 100:

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

In [55]:
random_numbers = []

for i in range(100):
    random_numbers.append(random.randint(1, 100))

In [56]:
len(random_numbers)

100

In [57]:
random_numbers

[3,
 9,
 63,
 88,
 52,
 73,
 23,
 6,
 34,
 99,
 5,
 74,
 64,
 58,
 15,
 14,
 56,
 35,
 96,
 66,
 100,
 78,
 19,
 52,
 22,
 44,
 38,
 25,
 88,
 50,
 90,
 37,
 40,
 74,
 41,
 25,
 44,
 6,
 3,
 36,
 8,
 19,
 64,
 40,
 36,
 34,
 66,
 56,
 24,
 66,
 61,
 12,
 12,
 64,
 66,
 16,
 42,
 25,
 84,
 71,
 75,
 60,
 69,
 29,
 94,
 51,
 73,
 27,
 55,
 37,
 27,
 89,
 82,
 58,
 40,
 18,
 62,
 75,
 46,
 80,
 23,
 18,
 49,
 65,
 61,
 23,
 60,
 45,
 78,
 52,
 52,
 43,
 72,
 96,
 95,
 32,
 83,
 93,
 45,
 34]

In [58]:
len(set(random_numbers))

64

### set union

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}